@import "tailwindcss";
.bg-custom {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.7) 100%), url('/1-1-1.png');
  background-position: 50% 50%;
  background-size: cover;
}
